## @@@ Cleaning Text Data --

In [1]:
text = "MyAnalytics Mentor is a forum purely created to help interested folks get into analytics"

In [2]:
len(text) ## Length of character

88

In [3]:
## split text data into list 
text1 = text.split(" ")
text1

['MyAnalytics',
 'Mentor',
 'is',
 'a',
 'forum',
 'purely',
 'created',
 'to',
 'help',
 'interested',
 'folks',
 'get',
 'into',
 'analytics']

In [4]:
len(text1) ## Length of words

14

In [5]:
[w for w in text1 if len(w) > 3] ## filter the words with len > 3

['MyAnalytics',
 'Mentor',
 'forum',
 'purely',
 'created',
 'help',
 'interested',
 'folks',
 'into',
 'analytics']

In [6]:
[w for w in text1 if w.endswith("s")] ## Words end with any character

['MyAnalytics', 'is', 'folks', 'analytics']

In [7]:
text_2 = "To be or not to be"
len(text_2)

18

In [8]:
text3 = text_2.split(" ")
len(text3)

6

In [9]:
len(set(text3)) ##  t, T is 2 time thats why

5

In [10]:
set(text3)

{'To', 'be', 'not', 'or', 'to'}

In [11]:
set([w.lower() for w in text3]) ### Converting all the char as small lttr

{'be', 'not', 'or', 'to'}

In [12]:
len(set([w.lower() for w in text3])) ## len() - 4

4

In [13]:
## some words comparision functions --

In [14]:
# s.startswith(t)
# s.endswith(t)
# t in s 
# s.isupper(), s.islower(), s.istitle()
# s.isalpha(), s.isdigit(), s.isalnum()
# s.split(), s.splitline(), s.join(), s.rstrip(), s.strip()
# s.find(), s.rfine(), s.replace(u, v)

In [15]:
text5 = "ouagadougou"
text6 = text5.split('ou')
text6

['', 'agad', 'g', '']

In [16]:
"ou".join(text6)

'ouagadougou'

In [17]:
list(text5)

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [18]:
[c for c in text5]

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [19]:
text8 = "   A quick brown fox jumped over the lazy dog. "

In [20]:
text8.split(' ')

['',
 '',
 '',
 'A',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog.',
 '']

In [21]:
text9 = text8.strip()
text9.split(' ')

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

In [22]:
text9.find('o')

10

In [23]:
text9.rfind('o')

40

In [24]:
text9.replace('o', 'O')

'A quick brOwn fOx jumped Over the lazy dOg.'

In [25]:
### handling Larger text

In [26]:
f = open('ms.txt', 'r')

In [27]:
f.readline()

'Mahendra Singh Dhoni is a former Indian international cricketer who captained the Indian national team in limited-overs formats from 2007 to 2017 and in Test cricket from 2008 to 2014. Under his captaincy, India won the inaugural 2007 ICC World Twenty20, the 2010 and 2016 Asia Cups, the 2011 ICC Cricket World Cup and the 2013 ICC Champions Trophy. A right-handed middle-order batsman and wicket-keeper, Dhoni is one of the highest run scorers in One Day Internationals (ODIs) with more than 10,000 runs scored and is considered an effective "finisher" in limited-overs formats. He is widely regarded as one of the greatest wicket-keeper batsmen and captains in the history of the game. He was also the first wicket-keeper to effect 100 stumpings in ODI cricket.\n'

In [28]:
f.seek(0) ## reset the seek point

0

In [29]:
text12 = f.read()

In [30]:
text12

'Mahendra Singh Dhoni is a former Indian international cricketer who captained the Indian national team in limited-overs formats from 2007 to 2017 and in Test cricket from 2008 to 2014. Under his captaincy, India won the inaugural 2007 ICC World Twenty20, the 2010 and 2016 Asia Cups, the 2011 ICC Cricket World Cup and the 2013 ICC Champions Trophy. A right-handed middle-order batsman and wicket-keeper, Dhoni is one of the highest run scorers in One Day Internationals (ODIs) with more than 10,000 runs scored and is considered an effective "finisher" in limited-overs formats. He is widely regarded as one of the greatest wicket-keeper batsmen and captains in the history of the game. He was also the first wicket-keeper to effect 100 stumpings in ODI cricket.\nDhoni made his ODI debut on 23 December 2004 against Bangladesh, and played his first Test a year later against Sri Lanka. He has been the recipient of many awards, including the ICC ODI Player of the Year award in 2008 and 2009 (the first player to win the award twice), the Rajiv Gandhi Khel Ratna award in 2007, the Padma Shri, India\'s fourth highest civilian honour, in 2009 and the Padma Bhushan, India\'s third highest civilian honour, in 2018. Dhoni was named as the captain of the ICC World Test XI in 2009, 2010 and 2013. He has also been selected a record 8 times in ICC World ODI XI teams, 5 times as captain. The Indian Territorial Army conferred the honorary rank of Lieutenant Colonel to Dhoni on 1 November 2011. He is the second Indian cricketer after Kapil Dev to receive this honour.'

In [31]:
len(text12)

1564

In [32]:
text13 = text12.splitlines()

In [33]:
len(text13)

2

In [35]:
f.close()

In [ ]:
# f = open(filename, mode)
# f.readline(), f.read(), f.read(n)
# for line in f:
#     doSomething(line)
# f.seek(n)
# f.write(message)
# f.close()

In [45]:
text14 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'

In [46]:
text15 = text14.split(" ")

In [47]:
[x for x in text15 if x.startswith("#")] ## Hastag

['#UNSG']

In [48]:
[x for x in text15 if x.startswith("@")] ## Callouts

['@UN', '@UN_Women', '@']

In [49]:
## Regular expression

In [50]:
import re

In [51]:
[x for x in text15 if re.search('@[A-Za-z0-9_]+', x)]

['@UN', '@UN_Women']

In [53]:
[x for x in text15 if re.search('@\w+', x)]

['@UN', '@UN_Women']

In [54]:
## Finding specific character -

In [55]:
text16 = "ouagadougou"
re.findall(r'[aeiou]', text16)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [56]:
re.findall(r'[^aeiou]', text16)

['g', 'd', 'g']

## working with text data in pandas

In [58]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [59]:
df.text.str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [61]:
df.text.str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [62]:
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [63]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [64]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [65]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

<ipython-input-65-df59da514eee>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [66]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

<ipython-input-66-fadab594b26c>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [67]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [68]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [69]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am